%ul(class='typologies')
  - $typologies = get_terms('tipologia', array('orderby'=>'name', 'order'=>'desc'))
  - foreach($typologies as $typology)
    %li(class="typology typology-#{$typology->slug}")
      %h3
        = $typology->name

    %ul(class="provinces provinces-#{$typology->slug}")
      - $provinces = get_terms('citta', array('hide_empty' => false, 'parent' => 0))
      - foreach($provinces as $province)
        - if(province_with_geoposts($province, $typology))
          %h4.province= $province->name

          .cities
            - $cities = get_terms('citta', array('parent' => $province->term_id));
            - foreach($cities as $city)
              - $geoposts = city_geoposts($city, $typology)
              - if($geoposts->post_count > 0)
                %li
                  %h5= $city->name
                %ul
                  - while ($geoposts->have_posts())
                    - $geoposts->the_post()
                    %li
                      %a(class="geopost" data-id="#{the_id()}")
                        = the_title()

