- global $post
= GeoMashup::map()

- $tab = $_GET['tab'] ? $_GET['tab'] : 'history'

= render_partial('geopost/'.$tab)

= link_to('Storia', get_permalink().'?tab=history')
= link_to('Oggi', get_permalink().'?tab=today')
= link_to('Video', get_permalink().'?tab=video')

